/* 
    HEADER 
*/

.header-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.header-container img {
    height: 40px;
    display: block;
}

.nav-bar {
    height: 100%;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clothes-section,
.personal-section {
    display: flex;
    justify-content: space-between;
}

.clothes-section {
    width: 200px
}

.personal-section {
    width: 75px;
}

/* 
    MAIN
*/

.main-container {
    width: 1300px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 50px;
}

.main-img-container-1 {
    height: 700px;
    width: 100%;
}

.main-container img {
    height: 600px;
    border-radius: 10px;
}

.main-row-top, .main-row-down {
    display: flex;
    justify-content: space-between;
}

.main-row-down {
    padding-top: 20px;
}

.discount-box {
    width: 60px;
}

.tag-box,
.first-tag-box {
    width: 110px;
}

.discount-box,
.first-tag-box,
.tag-box {
    padding: 2px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    border-radius: 5px;
}

.first-tag-box {
    left: 70px;
}

.img-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    float: left;
}

.heart-box {
    position: absolute;
    padding: 15px;
    top: 5px;
    right: 0px;
    border-radius: 3px;
}

/* 
    FOOTER 
*/

.footer-container {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.footer-main-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-social-container,
.footer-info-container {
    height: 60px;
    display: flex;
    flex-direction: column;
}

.footer-social-container {
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info-container {
    justify-content: space-around;
    align-items: space-around;
}

/* 
    HOVER
*/

.hover-first-img,
.hover-second-img,
.hover-third-img,
.hover-fourth-img,
.hover-fifth-img,
.hover-sixth-img{
    display: none;
}

.img-container:hover .first-img,
.img-container:hover .second-img,
.img-container:hover .third-img,
.img-container:hover .fourth-img,
.img-container:hover .fifth-img,
.img-container:hover .sixth-img {
    display: none;
}

.img-container:hover .hover-first-img,
.img-container:hover .hover-second-img,
.img-container:hover .hover-third-img,
.img-container:hover .hover-fourth-img,
.img-container:hover .hover-fifth-img,
.img-container:hover .hover-sixth-img {
    display: inline;
}

.heart-box:hover {
    color: #FF0000;
}